<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .container {
            min-width: 300px;
            padding: 10px 30px;
        }

        .settings {
            margin-top: 30px;
            font-size: 14px;
        }
        .settings .set input{
    
            float: right;
        }
        .settings .set + .set {
            margin-top: 15px;
        }

    </style>
</head>

<body>
    <div class="container">
        <h3>过滤广告配置</h3>
        <div class="settings">
            <div class="set">
                <span>过滤Google Adsense</span>
                <input type="checkbox">
            </div>
            <div class="set">
                <span>过滤百度广告</span>
                <input type="checkbox">
            </div>

        </div>

    </div>
</body>

</html>